h1 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

html {
  background-color: #DCF2FD;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #F5F5FF;
  padding: 0px 10px 10px 10px;
  border: 3.5px solid black;
}

img { 
  width: 300px; /* Changing aspect ratio of an image in css: https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio */
  height: auto;
  border: 1.5px solid #c3c3c3; /* Border for the image! */
  display: block; /* Ensures that image will take up whole line*/  
  margin: 0 auto; /* 0 is for top/bottom margin & auto is for left/right margin!  Alternatively, can use margin-left & margin-right: auto, see https://www.delftstack.com/howto/css/css-align-image-right/ */
}
